/* 默认按钮样式 */
.btn {
  box-sizing: content-box;
  display: inline-block;
  *border: 0 none;
  border:0;
  *margin-right: .3em;
  margin-bottom: 0;
  padding: 0 10px;
  *padding: 1px 10px;
  width: auto;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.btn,
.btn:hover,
.btn:visited {
  color: #fff!important;
}

.btn:hover {
  box-shadow: none;
  background-color: #ededed;
}

.btn:active {
  background-color: #ebebeb;
}


/* 错误 */

.btn-error {
  border-color: transparent;
  border-bottom-color: #c21b1b !important;
  background-color: #ff3636;
}

.btn-error,
.btn-error:hover,
.btn-error:visited {
  color: #FFF!important;
}

.btn-error:hover {
  background-color: #e41b1b;
}

.btn-error:active {
  background-color: #df1819;
}

/*默认*/
.btn-default {
  border-bottom-color: #e6e6e6 !important;
  background-color: #e6e6e6;
}

.btn-default,
.btn-default:hover,
.btn-default:visited {
  color: #444!important;
  border-color: #ddd;
}

.btn-default:hover {
  background-color: #ddd;
}

.btn-default:active {
  background-color: #e6e6e6;
}

/* 警告 */

.btn-warning {
  border-color: transparent;
  border-bottom-color: #cf370c !important;
  background-color: #ff4e00;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:visited {
  color: #FFF!important;
}

.btn-warning:hover {
  background-color: #ef4000;
}

.btn-warning:active {
  background-color: #e73d00;
}


/* 主要 */

.btn-primary {
  background-color: #0e90d2;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:visited {
  color: #FFF!important;
}

.btn-primary:hover {
  background-color: #269cd5;
}

.btn-primary:active {
  background-color: #3073ad;
}

.btn-disabled {
  border: 1px solid #e0e0e0;
  cursor: default;
}

.btn-disabled,
.btn-disabled:hover,
.btn-disabled:visited {
  color: #ccc !important;
  background-color: #ededed;
}


/* ==========================================================================
 按钮组合
 ========================================================================== */

.btn-group {
  overflow: hidden;
  .btn {
    float: left;
    margin: 0;
    border-radius: 0;
    border-left-width: 0;
  }
  .btn-group .btn:first-child {
    border-left-width: 1px;
    border-radius: 2px 0 0 2px;
  }
  .btn:last-child {
    border-radius: 0 2px 2px 0;
  }
}

/* ==========================================================================
 按钮尺寸
 ========================================================================== */

.btn-xlarge {
  padding: 0 20px;
  height: 43px;
  line-height: 43px;
  font-size: 18px;
}


.btn-large {
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
}

.btn-medium {
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
}

.btn-small {
  height: 26px;
  line-height: 26px;
  padding: 0 20px;
}

.btn-xsmall {
  height: 18px;
  line-height: 18px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.btn-raduis{
  border-radius: 2px;
}

.btn-file{
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  input{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
  }
  &:hover{
    text-decoration: none;
  }
}
