
.form select,
.form textarea,
.form input[type="text"],
.form input[type="password"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="week"],
.form input[type="number"],
.form input[type="email"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"]{
  width: 100%;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ccc;
  color: #555555;
  font-size: 16px;
  text-indent: 1em;
  border-radius: 2px;
}
.form select{
  height: 37px;
  //line-height: 33px!important;
}
.form .block{
  display: block;
}
.form label{
  font-size: 14px;
  color: #333;
  font-weight:bold;
}

form input {
  &[type="radio"], &[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    /* IE8-9 */
    line-height: normal;
    float: left;
    margin-left: -20px;
    outline: none;
  }
}

form .radio,form .checkbox {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}

form .radio label,form .checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

form .radio input[type="radio"],form .radio-inline input[type="radio"],form .checkbox input[type="checkbox"],form .checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
  outline: none;
}

form .radio + .radio,form .checkbox + .checkbox {
  margin-top: -5px;
}

form .radio-inline,form .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

form .radio-inline + .radio-inline,form .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

form input[type="radio"][disabled],form fieldset[disabled] input[type="radio"],form input[type="checkbox"][disabled],form fieldset[disabled] input[type="checkbox"],form .radio[disabled],form fieldset[disabled] .radio,form .radio-inline[disabled],form fieldset[disabled] .radio-inline,form .checkbox[disabled],form fieldset[disabled] .checkbox,form .checkbox-inline[disabled],form fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}

